@import "../bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bootstrap-sass/bootstrap-block-grid";

$headerFont: 'Waterlily Script';
$subFont1: 'Lato-Reg';
$subFont1Alt: 'Lato-Lig';
$subFont1Alt2: 'Lato-Hai';

// colors
$primary-color: #061F35;
$accent-color: #FFED85;
$tertiary-color: #FFF;

$overlay-blue: rgba(6,31,53,0.4);
$overlay-white: rgba(250,250,250,0.7);

@font-face {
    font-family: 'Waterlily Script';
    src: 
        local('Waterlily Script'),
        url('../fonts/WaterlilyScript.ttf');
}

@font-face {
    font-family: 'Lato-Reg';
    src: 
        local('Lato-Reg'),
        url('../fonts/Lato-Reg.ttf');
}

@font-face {
    font-family: 'Lato-Lig';
    src: 
        local('Lato-Lig'),
        url('../fonts/Lato-Lig.ttf');
}

@font-face {
    font-family: 'Lato-Hai';
    src: 
        local('Lato-Hai'),
        url('../fonts/Lato-Hai.ttf');
}



/****************************
    Utility Classes/Rules
*****************************/

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hori-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body, form {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

/****************************
    Animations
*****************************/

@keyframes subtleLevitation {
    50% { bottom: 6%; }
    100% { bottom: 5%; }
}

@keyframes wheelSpin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    50% { transform: translate(-50%, -50%) rotate(360deg); }
    100% { transform: translate(-50%, -50%) rotate(720deg); }
}

@keyframes wheelBounce {
    50% { top: 45%; }
    100% { top: 50%; }
}

/*@keyframes loadingAnimation {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    50% { transform: translate(-50%, -60%) rotate(360deg); }
    100% { transform: translate(-50%, -50%) rotate(720deg); }
}*/

/****************************
    Default Css
*****************************/

#loadBackdrop {
    position: relative;
    z-index: 0;
    background-color: #282828;
    height: 100vh;
    width: 100vw;
    transition: opacity 1s linear, height 1s linear;
}

#wheel {    
    width: 20%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*animation: wheelSpin 2s linear infinite, wheelBounce 4s linear infinite, colorShift 4s linear infinite;*/
    animation: wheelSpin 5s linear infinite, wheelBounce 2s linear infinite;
}

.section {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.overlay-blue {
    width: 100%;
    height: 100%;
    background-color: $overlay-blue;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay-white {
    width: 100%;
    height: 100%;
    background-color: $overlay-white;
    
    position: absolute;
    top: 0px;
    right: 0px;
}

.contentContainer {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    h1 {
        width: 80%;
        margin: 45px auto;
        font-family: $headerFont;
        color: $primary-color;
    }
}

#section1background {
    width: 100%;
    height: 100%;
    background-image: url('../images/marksman-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

#titleContainer {
    
    top: 45%;
    
    img {
        width: 100%;
    }
    
    div {
        width: 70%;
        height: 1px;
        margin: 20px auto;
        background-color: $accent-color;
    }
    
    h2 {
        font-family: $subFont1Alt2;
        color: $tertiary-color;
        margin: 0px;
    }
}

#chevron {
    width: 50px;
    display: block;
    
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    
    animation: subtleLevitation 1.5s linear infinite;
    
}

#section2background {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../images/weirdo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    
    div {
        display: none;
    }
}

#section2Wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#section2Content {
    
    p {
        font-family: $subFont1Alt;
        color: $primary-color;
        margin: 20px 0px;
        text-align: left;
    }
}

.button-link {
    display: block;
    text-decoration: none !important;
}

.page-button {
    width: 200px;
    display: block;
    padding: 3px 30px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    
    background-color: rgba(0,0,0,0);
    border: 2px solid $primary-color;
    border-radius: 5px;
    font-family: $subFont1Alt;
    color: $primary-color;
    
    transition: background-color 0.5s linear;
    
    &:hover {
        background-color: $primary-color;
        color: $tertiary-color;
        
    }
    
    img {
        display: none
    }
}

#section3background {
    width: 100%;
    height: 100%;
    background-image: url('../images/teddy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.textInput {
    width: 100%;
    height: 40px; 
    margin: 20px 0px;
    padding: 10px 15px;
    opacity: 0.8;
    
    position: relative;
    display: block;
    background-color: $primary-color;
    color: $accent-color;
    border: none;
    border-radius: 5px;
    font-family: $subFont1Alt2;
    
    // gonna need to spread this out for each possible browser iteration
    // separate each one, because one bad selector ruins the entire rule
    &::-webkit-input-placeholder{
        color: $accent-color;
    }
}

.textArea {
    height: 200px;
}

#sendMailButton {
    width: 150px;
    height: 40px; 
    margin: 0px 0px;
    padding: 10px 15px;
    opacity: 0.8;
    
    display: block;
    background-color: $primary-color;
    color: $accent-color;
    border: none;
    border-radius: 5px;
    font-family: $subFont1Alt2;
    float: right;
    
    transition: background-color 0.2s linear, color 0.2s linear;
    
    &:hover {
        background-color: $tertiary-color;
        color: $primary-color;
        border: $primary-color solid 1px;
    }
}


/****************************
    Tablet/Desktop Styling
*****************************/

@media (min-width: $screen-sm-min) {
    #section2background {
        width: 40%;
        float: left;
        background-position: center;
        
        div {
            display: block;
            width: 47%;
            height: 100%;
            position: absolute;
            top: 0%;
            right: 0%;
            background: -webkit-linear-gradient(right, rgba(250,250,250, 1), rgba(250,250,250, 0.0));
            
        }
        
    }
    
    #section2 {
        [class=overlay-white] {
            display: none;
        }
    }
    
    #section2Wrapper {
        width: 60%;
    }
    
    .page-button {
        
        height: 60px;
        padding: 17px 30px;
        border-radius: 3px;
    
        img {
            display: block;
            width: 20%;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
    
    #section3Content {
        width: 60%;
    }
}