@import "../bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bootstrap-sass/bootstrap-block-grid";

$headerFont: 'Waterlily Script';
$subFont1: 'Lato-Reg';
$subFont1Alt: 'Lato-Lig';
$subFont1Alt2: 'Lato-Hai';

// colors
$primary-color: #061F35;
$accent-color: #FFED85;
$tertiary-color: #FFF;

$overlay-blue: rgba(6,31,53,0.4);
$overlay-white: rgba(250,250,250,0.6);

@font-face {
    font-family: 'Waterlily Script';
    src: 
        local('Waterlily Script'),
        url('../fonts/WaterlilyScript.ttf');
}

@font-face {
    font-family: 'Lato-Reg';
    src: 
        local('Lato-Reg'),
        url('../fonts/Lato-Reg.ttf');
}

@font-face {
    font-family: 'Lato-Lig';
    src: 
        local('Lato-Lig'),
        url('../fonts/Lato-Lig.ttf');
}

@font-face {
    font-family: 'Lato-Hai';
    src: 
        local('Lato-Hai'),
        url('../fonts/Lato-Hai.ttf');
}



/****************************
    Utility Classes/Rules
*****************************/

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hori-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body, form {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

/****************************
    Default Css
*****************************/

.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.overlay-blue {
    width: 100%;
    height: 100%;
    background-color: $overlay-blue;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay-white {
    width: 100%;
    height: 100%;
    background-color: $overlay-white;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

.contentContainer {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#section1background {
    width: 100%;
    height: 100%;
    background-image: url('../images/marksman-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}

#titleContainer {
    
    img {
        width: 100%;
    }
    
    div {
        width: 70%;
        height: 1px;
        margin: 20px auto;
        background-color: $accent-color;
    }
    
    h2 {
        font-family: $subFont1Alt2;
        color: $tertiary-color;
        margin: 0px;
    }
}

#section2background {
    width: 100%;
    height: 100%;
    background-image: url('../images/weirdo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

#section2Content {
    
    //transform: translate(-50%, -70%);
    text-align: left;
    
    h1 {
        width: 40%;
        margin: 0px auto;
        text-align: center;
        font-family: $headerFont;
        color: $primary-color;
        
    }
    
    p {
        font-family: $subFont1Alt;
        color: $primary-color;
        margin: 20px 0px;
    }
}

.button-link {
    display: block;
    text-decoration: none;
}

.page-button {
    width: 200px;
    display: block;
    padding: 3px 30px;
    margin: 20px auto;
    text-align: center;
    
    background-color: rgba(0,0,0,0);
    border: 2px solid $primary-color;
    border-radius: 5px;
    font-family: $subFont1Alt;
    color: $primary-color;
    
    transition: background-color 0.5s linear;
    
    &:hover {
        background-color: $primary-color;
        color: $tertiary-color;
        
    }
    
    img {
        display: none
    }
}