@import "../bootstrap-sass/assets/stylesheets/bootstrap";

$titleFont: 'Waterlily Script';
$subFont1: 'Lato-Reg';
$subFont1Alt: 'Lato-Lig';
$subFont1Alt2: 'Lato-Hai';

// colors
$primary-color: #061F35;
$accent-color: #FFED85;
$tertiary-color: #FFF;
$overlay-primary: rgba(6,31,53,0.1);
$overlay-alt: rgba(250,250,250,0.7);

$default-gray: #979797;

@font-face {
    font-family: 'Waterlily Script';
    src: 
        local('Waterlily Script'),
        url('../fonts/WaterlilyScript.ttf');
}

@font-face {
    font-family: 'Lato-Reg';
    src: 
        local('Lato-Reg'),
        url('../fonts/Lato-Reg.ttf');
}

@font-face {
    font-family: 'Lato-Lig';
    src: 
        local('Lato-Lig'),
        url('../fonts/Lato-Lig.ttf');
}

@font-face {
    font-family: 'Lato-Hai';
    src: 
        local('Lato-Hai'),
        url('../fonts/Lato-Hai.ttf');
}



/****************************
    Utility Rules
*****************************/

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hori-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

.overlay-primary {
    width: 100%;
    height: 100%;
    background-color: $overlay-primary;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay-alt {
    width: 100%;
    height: 100%;
    background-color: $overlay-alt;
    
    position: absolute;
    top: 0px;
    right: 0px;
}
/****************************
    Animations
*****************************/

@keyframes subtleLevitation {
    50% { bottom: 6%; }
    100% { bottom: 5%; }
}

@keyframes wheelSpin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    50% { transform: translate(-50%, -50%) rotate(360deg); }
    100% { transform: translate(-50%, -50%) rotate(720deg); }
}

@keyframes wheelBounce {
    50% { top: 45%; }
    100% { top: 50%; }
}

/**************************
        Mobile Menu
***************************/

#mobileMenu {
    height: 100vh;
    width: 100vw;
    padding: 5%;
    background-color: $tertiary-color;
    
    position: relative;
    z-index: 5;
    
    div:first-child {
        width: 10%;
        
        img {
            width: 100%;
        }
    }
    
    div:nth-child(2) {
        width: 70%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        a {
            text-decoration: none;
        }
        
        p {
            font-family: $titleFont;
            font-size: 2rem;
            color: $primary-color;
            margin: 10% 0px;
            
            &:hover {
                color: $default-gray;
            }
            
        }
    }
    
}

/**************************************************************************
                             Default Css - Focused on Mobile
***************************************************************************/

header {
    height: 10vh;
    position: relative;
    overflow: auto;
    
    div:first-child {
        width: 30%;
        padding: 2%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        img {
            width: 100%;
        }
    }
    
    ul {
        display: none;
    }
}

#mobileMenuButton {
    width: 10%;

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    img {
        width: 100%;
    }
}



/**************************
        Home View
***************************/

#viewDiv {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#homeBackground {
    width: 100vw;
    height: 100vh;
    position: relative;
    
    background-image: url('../images/marksman-bridge-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 2s linear;
}

#titleContainer {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    img {
        width: 70%;
    }
    
    div {
        width: 70%;
        height: 1px;
        margin: 20px auto;
        background-color: $accent-color;
    }
    
    p {
        font-family: $subFont1Alt2;
        font-size: 20px;
        color: $tertiary-color;
        margin: 0px;
    }
}

#homeNavigation {
    width: 70%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 0%;
    
    li {
        width: 100/3 * 1%;
        list-style: none;
        float: left;
        
        text-align: center;
        font-family: $subFont1;
        font-size: 1.7rem;
        color: $tertiary-color;
        margin: 0px;
        
        &:hover {
            color: $accent-color;
        }
    }
}

/*#loadBackdrop {
    transition: opacity 1s linear, height 1s linear;
    
    img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: wheelSpin 5s linear infinite, wheelBounce 2s linear infinite;
    }
}*/

/*#section1background {
    background-image: url('../images/marksman-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}*/

/*#chevron {
    left: 50%;
    transform: translateX(-50%);
    animation: subtleLevitation 1.5s linear infinite;
}*/

/*.page-button {
    
    &:hover {
        background-color: $primary-color;
        color: $tertiary-color;
    }
}*/

/*.textInput {
    background-color: $primary-color;
    color: $accent-color;
    font-family: $subFont1Alt2;
    
    // gonna need to spread this out for each possible browser iteration
    // separate each one, because one bad selector ruins the entire rule
    &::-webkit-input-placeholder{
        color: $accent-color;
    }
}*/

/*#emailConfirmation {
    @extend .textInput;
}*/

/****************************
    Tablet/Desktop Styling
*****************************/

/**************************************************************************
                            Tablet & wider
***************************************************************************/

@media (min-width: $screen-sm-min) {
    
    header {
        
        height: 15vh;
        
        div:first-child {
            width: 25%;
        }
        
        ul {
            width: 50%;
            display: block;
            position: absolute;
            right: 0%;
            bottom: 10%;
            
            padding: 0px;
            margin: 0px;
            
            li {
                list-style: none;
                font-family: $titleFont;
                font-size: 2.5rem;
                color: $primary-color;
                width: 100/3 * 1%;
                letter-spacing: 2px;
                
                float: left;
                margin: 0px;
                text-align: center;
                
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    
    #mobileMenuButton {
        display: none;
    }
    
    
    #homeBackground {
        background-position: right center;
    }
    
    #titleContainer {

        img {
            width: 70%;
        }

        p {
            font-size: 40px;
        }
    }
    
    #homeNavigation {
    
        li {
            font-size: 2rem;
        }
    }
}

/**************************************************************************
                            Laptop & wider
***************************************************************************/

@media (min-width: $screen-md-min) {
    
    header {
        
        height: 15vh;
        
        div:first-child {
            width: 25%;
        }
        
        ul {
            
            li {
                font-size: 3.5rem;
            }
        }
    }
    
    
    #titleContainer {

        p {
            font-size: 50px;
        }
    }
    
    #homeNavigation {
    
        li {
            font-size: 3rem;
        }
    }
}

/**************************************************************************
                            Laptop HD & wider
***************************************************************************/


@media (min-width: $screen-lg-min) {
    
    header {
        
        ul {
            
            li {
                font-size: 4.5rem;
            }
        }
    }
}