@import "../bootstrap-sass/assets/stylesheets/bootstrap";

$titleFont: 'Waterlily Script';
$subFont1: 'Lato-Reg';
$subFont1Alt: 'Lato-Lig';
$subFont1Alt2: 'Lato-Hai';

// colors
$primary-color: #061F35;
$accent-color: #FFED85;
$tertiary-color: #FFF;
$overlay-primary: rgba(6,31,53,0.1);
$overlay-alt: rgba(250,250,250,0.7);

$black: #000;

$default-gray: #979797;

$max-z-level: 5;
$z-level-2: 3;

$gallerycard-color: rgba(6, 31, 53, 0.8);

@font-face {
    font-family: 'Waterlily Script';
    src: 
        local('Waterlily Script'),
        url('../fonts/WaterlilyScript.ttf');
}

@font-face {
    font-family: 'Lato-Reg';
    src: 
        local('Lato-Reg'),
        url('../fonts/Lato-Reg.ttf');
}

@font-face {
    font-family: 'Lato-Lig';
    src: 
        local('Lato-Lig'),
        url('../fonts/Lato-Lig.ttf');
}

@font-face {
    font-family: 'Lato-Hai';
    src: 
        local('Lato-Hai'),
        url('../fonts/Lato-Hai.ttf');
}



/****************************
    Utility Rules
*****************************/

.vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hori-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.full-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid {
    //    getting rid of bootstrap padding on container 
    //    so that class is full-width of screen
    padding-left: 0px;
    padding-right: 0px;
}

.overlay-primary {
    width: 100%;
    height: 100%;
    background-color: $overlay-primary;
    
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay-alt {
    width: 100%;
    height: 100%;
    background-color: $overlay-alt;
    
    position: absolute;
    top: 0px;
    right: 0px;
}
/****************************
    Animations
*****************************/

@keyframes subtleLevitation {
    50% { bottom: 6%; }
    100% { bottom: 5%; }
}

@keyframes wheelSpin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    50% { transform: translate(-50%, -50%) rotate(360deg); }
    100% { transform: translate(-50%, -50%) rotate(720deg); }
}

@keyframes wheelBounce {
    50% { top: 45%; }
    100% { top: 50%; }
}

/**************************
        Mobile Menu
***************************/

#mobileMenu {
    height: 100vh;
    width: 100vw;
    padding: 5%;
    background-color: $tertiary-color;
    
    position: relative;
    z-index: $z-level-2;
    
    div:first-child {
        width: 10%;
        
        img {
            width: 100%;
        }
    }
    
    div:nth-child(2) {
        width: 70%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        a {
            text-decoration: none;
        }
        
        p {
            font-family: $titleFont;
            font-size: 2rem;
            color: $primary-color;
            margin: 10% 0px;
            
            &:hover {
                color: $default-gray;
            }
            
        }
    }
    
}

/**************************************************************************
                             Default Css - Focused on Mobile
***************************************************************************/

header {
    width: 100vw;
    height: 10vh;
    position: relative;
    overflow: auto;
    
    div:first-child {
        width: 30%;
        padding: 2%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        img {
            width: 100%;
        }
    }
    
    ul {
        display: none;
    }
}

#mobileMenuButton {
    width: 10%;

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);

    img {
        width: 100%;
    }
}



/**************************
        Home View
***************************/

#viewDiv {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#homeBackground {
    width: 100vw;
    height: 100vh;
    position: relative;
    
    background-image: url('../images/marksman-bridge-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 2s linear;
}

#titleContainer {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    img {
        width: 70%;
    }
    
    div {
        width: 70%;
        height: 1px;
        margin: 20px auto;
        background-color: $accent-color;
    }
    
    p {
        font-family: $subFont1Alt2;
        font-size: 20px;
        color: $tertiary-color;
        margin: 0px;
    }
}

#homeNavigation {
    width: 70%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 0%;
    
    li {
        width: 100/3 * 1%;
        list-style: none;
        float: left;
        
        text-align: center;
        font-family: $subFont1;
        font-size: 1.7rem;
        color: $tertiary-color;
        margin: 0px;
        
        &:hover {
            color: $accent-color;
        }
    }
}

/**************************
        Portfolio View
***************************/

#portfolioSectionHeader {
    width: 100vw;
    height: 8vh;
    position: relative;
    
    h2 {
        font-family: $subFont1;
        color: $black;
        
        width: 20%;
        margin: 0px;
        padding: 0px;
        position: absolute;
        bottom: 0%;
        left: 3%;
        
    }
    
    ul {
        width: 50%;
        margin: 0px;
        padding: 0px;
        position: absolute;
        right: 0%;
        bottom: 0%;
        overflow: auto;
        
        li {
            width: 100/4 * 1%;
            list-style: none;
            float: left;
        }
    }
    
}

#galleryContainer {
    
    width: 100vw;
    min-height: 92vh;
    position: relative;
    padding: 2%;
    overflow: auto;
}

#galleryBackground {
    width: 70%;
    height: 75%;
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-image: url('../images/marksman-portfolio-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    opacity: 0.7;
    
    /*background: -webkit-linear-gradient(right, rgba(250,250,250, 1), rgba(250,250,250, 0.0));
    background: -webkit-linear-gradient(top, rgba(250,250,250, 1), rgba(250,250,250, 0.0));
    */
    div:first-child {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0%;
        
        background: -webkit-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
        
    }
    
    div:nth-child(2) {
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0%;
        
        background: -webkit-linear-gradient(right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
        
    }
}

.gallery-card {
    width: 90%;
    //opacity: 0.8;
    padding: 5%;
    position: relative;
    z-index: $max-z-level;
    background-color: $gallerycard-color;
    margin: 10% auto;
    border-radius: 2px;
    
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.7);
    
    img {
        width: 95%;
        display: block;
        opacity: 1;
        margin: 0px auto;
    }
    
    p {
        font-family: $subFont1Alt;
        font-size: 1.7rem;
        color: $tertiary-color;
        margin: 15px auto;
        text-align: center;
    }
}

.grid-sizer {
    display: none;
}

/*#loadBackdrop {
    transition: opacity 1s linear, height 1s linear;
    
    img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: wheelSpin 5s linear infinite, wheelBounce 2s linear infinite;
    }
}*/

/*#section1background {
    background-image: url('../images/marksman-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
}*/

/*#chevron {
    left: 50%;
    transform: translateX(-50%);
    animation: subtleLevitation 1.5s linear infinite;
}*/

/*.page-button {
    
    &:hover {
        background-color: $primary-color;
        color: $tertiary-color;
    }
}*/

/*.textInput {
    background-color: $primary-color;
    color: $accent-color;
    font-family: $subFont1Alt2;
    
    // gonna need to spread this out for each possible browser iteration
    // separate each one, because one bad selector ruins the entire rule
    &::-webkit-input-placeholder{
        color: $accent-color;
    }
}*/

/*#emailConfirmation {
    @extend .textInput;
}*/

/**************************************************************************
                            Tablet & wider
***************************************************************************/

@media (min-width: $screen-sm-min) {
    
    header {
        
        height: 15vh;
        
        div:first-child {
            width: 25%;
        }
        
        ul {
            width: 50%;
            display: block;
            position: absolute;
            right: 0%;
            bottom: 10%;
            
            padding: 0px;
            margin: 0px;
            
            li {
                list-style: none;
                font-family: $titleFont;
                font-size: 2.5rem;
                color: $primary-color;
                width: 100/3 * 1%;
                letter-spacing: 2px;
                
                float: left;
                margin: 0px;
                text-align: center;
                
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
    
    #mobileMenuButton {
        display: none;
    }
    
    
    #homeBackground {
        background-position: right center;
    }
    
    #titleContainer {

        img {
            width: 70%;
        }

        p {
            font-size: 40px;
        }
    }
    
    #homeNavigation {
    
        li {
            font-size: 2rem;
        }
    }
    
    /**************************
            Portfolio View
    ***************************/
    
    .gallery-card {
        width: 45%;
        padding: 2%;
        margin: 1% 1%;
        float: left;

        p {
        }
    }
    
    .grid-sizer {
        display: block;
        opacity: 0;
        width: 45%;
        padding: 2%;
        margin: 1% 1%;
    }
}

/**************************************************************************
                            Laptop & wider
***************************************************************************/

@media (min-width: $screen-md-min) {
    
    header {
        
        height: 15vh;
        
        div:first-child {
            width: 25%;
        }
        
        ul {
            
            li {
                font-size: 3.5rem;
                text-decoration: underline;
            }
        }
    }
    
    
    #titleContainer {

        p {
            font-size: 50px;
        }
    }
    
    #homeNavigation {
    
        li {
            font-size: 3rem;
        }
    }
    
    /**************************
            Portfolio View
    ***************************/
    
    .gallery-card {
        width: 30%;
        margin: 1% 1%;

        p {
            font-size: 2rem;
        }
    }
    
    .grid-sizer {
        width: 30%;
        margin: 1% 1%;
    }
}

/**************************************************************************
                            Laptop HD & wider
***************************************************************************/


@media (min-width: $screen-lg-min) {
    
    header {
        
        ul {
            
            li {
                font-size: 4.5rem;
            }
        }
    }
    
    /**************************
            Portfolio View
    ***************************/
    
    .gallery-card {
        p {
            font-size: 3rem;
        }
    }
}