<ng-include src="'./partials/_header.html'"></ng-include>

<div id="aboutContainer">
    
    <div id="aboutViewBackground">
        <div></div>
        <div></div>
    </div>
    
    <div id="aboutContent">
        <p>Your Friendly Neighborhood Photographer</p>
    
        <p>Hey! my name is Victor and I’m a web developer and freelance photographer currently 
        based in California Bay Area. I started my professional photography journey around Januaury 
        of 2016. I shoot all kinds of things but my preferences lie within lifestyle, urban/street 
        fashion, creative/concept portraiture, and urban exploration photography.</p>

        <div id="socialMediaBlock">
            <div>
                <a href="http://www.vsco.com/chitownmarksman" target="_blank"><img id="icon_vsco" class="social-media-icon" src="./images/social/icon_social_vsco_white.png" /></a>
                <a href="http://www.instagram.com/chitownmarksman" target="_blank"><img id="icon_instagram" class="social-media-icon" src="./images/social/icon_social_instagram_white.png" /></a>
                <a href="https://www.pinterest.com/vbashorun/" target="_blank"><img id="icon_pinterest" class="social-media-icon" src="./images/social/icon_social_pinterest_white.png" /></a>
            </div>
            <div>
                <a href="https://dribbble.com/vbashorun" target="_blank"><img id="icon_dribbble" class="social-media-icon" src="./images/social/icon_social_dribbble_white.png" /></a>
                <a href="http://www.twitter.com/chitownmarksman" target="_blank"><img id="icon_twitter" class="social-media-icon" src="./images/social/icon_social_twitter_white.png" /></a>
                <a href="https://www.facebook.com/chitownmarksman/" target="_blank"><img id="icon_facebook" class="social-media-icon" src="./images/social/icon_social_facebook_white.png" /></a>
            </div>
        </div>
    </div>
    

</div>