<ng-include src="'./partials/_header.html'"></ng-include>

<div id="aboutContainer">
    
    <div id="aboutViewBackground"></div>
    
    <p>Your Friendly Neighborhood Photographer</p>
    
    <p>Hey! my name is Victor and I’m a web developer and freelance photographer currently 
    based in California Bay Area. I started my professional photography journey around Januaury 
    of 2016. I shoot all kinds of things but my preferences lie within lifestyle, urban/street 
    fashion, creative/concept portraiture, and urban exploration photography.</p>
    
    <div></div>
    
    <div id="socialMediaBlock"></div>

</div>