<ng-include src="'./partials/_header.html'"></ng-include>

<form>
    <div class="container-fluid">
        <div id="section3" class="section">
            <div id="section3background"></div>
            <div class="overlay-white"></div>
            <div id="section3Content" class="contentContainer">
                <h1>Contact Me</h1>
                <input type="text" id="visitorEmail" class="textInput" placeholder="Your Email:" />
                <input type="text" id="emailSubject" class="textInput" placeholder="Subject:" />
                <textarea type="text" id="emailMessage" class="textInput textArea" placeholder="Message:" maxlength="300" ></textarea>
                <div id="sendMailButton" onclick="validateEmail()">Submit</div>

                <div id="emailConfirmation">
                    Message sent! I'll get back to you as soon as I can!
                </div>
            </div>
        </div>

    </div>
</form>