<ng-include src="'./partials/_header.html'"></ng-include>

<form id="contactViewContainer">
    
    <div id="contactViewBackground">
        <div></div>
        <div></div>
    </div>
    
    <div id="contactComponentContainer">
         <div id="contactInfo">
             <div id="infoContainer">
                 <div>
                     <img src="./images/icon_contact_location.png" />
                     <p>San Jose, CA</p>
                 </div>

                 <div>
                     <img src="./images/icon_contact_email.png" />
                     <p>vic@chitownmarksman.com</p>
                 </div>

                 <div>
                     <img src="./images/icon_contact_phone.png" />
                     <p>773-729-7741</p>
                 </div>

                <button id="" ng-click="openMessageForm()">Send Me a Message</button>
             </div>
             
             
        </div>

        <div id="messageForm">
            <div>
                <p>Send Me a Message</p>
                <input type="text" ng-model="visitorEmail" placeholder="Your Email:" />
                <input type="text" ng-model="emailSubject" placeholder="Subject:" />
                <textarea type="text" ng-model="emailMessage" placeholder="Message:" maxlength="1000" ></textarea>
                
                <button id="sendMailButton" ng-click="validateEmail()">Send</button>
                <div id="emailConfirmation">
                    <h5>Message sent!</h5> <!-- changed this from p tag to avoid css specifity issues-->
                </div>
            </div>
            
            <img src="./images/close.png" ng-click="closeMessageForm()" />
            
        </div>
    </div>
    
   
</form>