<!--<ng-include src="'partials/_header.html'"></ng-include>-->

<div id="imageViewContainer">
    
    <div id="galleryViewSectionHeader">
        <div>
            <h2>{{ galleryName }}</h2>
            <a href="#/portfolio">back to portfolio</a>
        </div>
        
        <p>{{ galleryDesc }}</p>
    </div>
    
    

    <div class="grid">
        <div class="gallery-grid-sizer"></div>

        <div class="image-card" ng-repeat="card in cards">
            <div><a href="#/image">Enlarge</a></div>
            <img src="{{ card.image }}" />
        </div>
    </div>
    
    <div id="galleryViewBackground">
        <div></div>
    </div>
</div>