<ng-include src="'./partials/_header.html'"></ng-include>

<ng-include src="'./partials/_loader.html'"></ng-include>

<div id="portfolioSectionHeader">
    <h2>Portfolio</h2>
    
    <form>
        <select ng-model="selectedCategory" ng-change="handleCategoryMobile()">
            <option value="featured">Featured</option>
            <option value="portraits">Portraits</option>
            <option value="places">Places</option>
            <option value="events">Events</option>
        </select>
        <img src="./images/arrow_down.png" />
    </form>

    <ul>
        <li data-category="featured" ng-click="handleCategory($event)" class="categorySelected">Featured</li>
        <li data-category="portraits" ng-click="handleCategory($event)">Portraits</li>
        <li data-category="places" ng-click="handleCategory($event)">Places</li>
        <li data-category="events" ng-click="handleCategory($event)">Events</li>
    </ul>
</div>
<div id="galleryContainer">
    <div id="portfolioViewBackground">
        <div></div>
        <div></div>
    </div>
    
    <!-- Gallery Cards -->
    <div class="grid">
        <div class="portfolio-grid-sizer">
        </div>
    
        <div class="gallery-card" ng-repeat="card in cards"> <!-- note: you can sort ng-repeat items -->
            <a href="#/gallery/{{ card.id }}"><div><p>View gallery</p></div></a>
            <img src="{{ card.location + '/' + card.cover }}" />
            <p>{{ card.name }}</p>
        </div>
    </div>
</div>