<!--<ng-include src="'partials/_header.html'"></ng-include>-->
<div id="portfolioSectionHeader">
    <h2>Portfolio</h2>

    <ul>
        <li>Featured</li>
        <li>Portraits</li>
        <li>Places</li>
        <li>Events</li>
    </ul>
</div>
<div id="galleryContainer" class="grid">
    <div id="galleryBackground">
        <div></div>
        <div></div>
    </div>
    
    <!-- Gallery Cards -->
    <div class="gallery-card">
        <img src="../images/marksman-slide-4.jpg" />
        <a><p>Urban Playground</p></a>
    </div>
    
    <div class="gallery-card">
        <img src="../images/marksman-slide-2.jpg" />
        <a><p>Urban Playground</p></a>
    </div>
    
    <div class="gallery-card">
        <img src="../images/marksman-slide-3.jpg" />
        <a><p>Urban Playground</p></a>
    </div>
    <div class="gallery-card">
        <img src="../images/marksman-slide-5.jpg" />
        <a><p>Urban Playground</p></a>
    </div>
</div>