<!--<ng-include src="'partials/_header.html'"></ng-include>-->
<div id="portfolioSectionHeader">
    <h2>Portfolio</h2>

    <ul>
        <li>Featured</li>
        <li>Portraits</li>
        <li>Places</li>
        <li>Events</li>
    </ul>
</div>
<div id="galleryContainer">
    <div id="galleryBackground">
        <div></div>
        <div></div>
    </div>
    
    <!-- Gallery Cards -->
    <div class="grid">
        <div class="grid-sizer">
        </div>

        <div class="gallery-card">
            <img src="./images/marksman-slide-4.jpg" />
            <a><p>Urban Playground</p></a>
        </div>

        <div class="gallery-card">
            <img src="./images/marksman-slide-2.jpg" />
            <a><p>Flower Thoughts</p></a>
        </div>

        <div class="gallery-card">
            <img src="./images/marksman-slide-3.jpg" />
            <a><p>Urban Anarchist</p></a>
        </div>
        <div class="gallery-card">
            <img src="./images/marksman-slide-5.jpg" />
            <a><p>Street Style w/ Stella</p></a>
        </div>
        
        <div class="gallery-card">
            <img src="./images/marksman-obey-2.jpg" />
            <a><p>Obey</p></a>
        </div>

        <div class="gallery-card">
            <img src="./images/marksman-bridge-1.jpg" />
            <a><p>Frank Santana Park</p></a>
        </div>

        <div class="gallery-card">
            <img src="./images/marksman-slide-4.jpg" />
            <a><p>Urban Playground</p></a>
        </div>
    </div>
    
</div>